# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
GCAM.log
GCAM/ExpressionAnalysis.pyc
GCAM/ExpressionClustering.pyc
GCAM/ExpressionClustering.py~
GCAM/Fetch_pmids.pyc
GCAM/FilesFolders.pyc
GCAM/Occurrence.pyc
GCAM/Previous_genecheck.pyc
GCAM/SignificanceTesting.pyc
GCAM/__init__.pyc
GCAM/__pycache__/
GCAM/analysis.pyc
GCAM/plots.pyc
GCAM/sompy.pyc
GCAM/sompy.py~
analysisTools/__init__.pyc
analysisTools/__pycache__/
analysisTools/settings.pyc
blog/__init__.pyc
blog/__pycache__/
blog/migrations/__pycache__/
blog/static/js/ajax-loader.gif
data/
gcam/__init__.pyc
gcam/__pycache__/
gcam/migrations/__pycache__/
gcamenv/
/biopython-1.66/
bin/run
