{% load staticfiles %}
<html lang="en">
<head>
    <title>GCAM</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="http://papaparse.com/resources/js/papaparse.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    <meta charset="UTF-8">
</head>
<body>
    <div class="page-header">
        <h1>GCAM : Gene Cell-type Association Miner</h1>
    </div>
    <div class="navbar">
         <ul>
          <li><a href="{% url 'blog.views.posts' %}">Home</a></li>
          <li><a href="{% url 'blog.views.genebased' %}">Genebased</a></li>
          <li><a href="#Exprbased">Exprbased</a></li>
          <li style="float:right"><a class="active" href="{% url 'blog.views.contact' %}">Contact us</a></li>
         </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
<div class="footer", align="center">
    <footer>
    <ul>
        <li><font color=#0066cc>Last Updated: August 2016</font></li>
        <li><font color=#0066cc>|</font></li>
        <li><a href="http://www.limes-institut-bonn.de/en/research/research-departments/unit-2/schultze-lab/schultze-lab-home/" target="_blank">Genomics & Immunoregulation at LIMES</a></li>
    </ul>
    </footer>
</div>
</html>