{% load staticfiles %}
<html lang="en">
<head>
    <title>GCAM</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    <meta charset="UTF-8">
</head>
<body>
    <div class="page-header">
        <h1>GCAM : Gene Cell-type Association Miner</h1>
    </div>
    <div class="navbar">
         <ul>
          <li><a href="{% url 'blog.views.posts' %}">Home</a></li>
          <li><a href="{% url 'blog.views.genebased' %}">Genebased</a></li>
          <li><a href="#Exprbased">Exprbased</a></li>
          <li style="float:right"><a class="active" href="{% url 'blog.views.contact' %}">Contact us</a></li>
         </ul>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-6">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>