<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
<!-- contact table -->
    <div class="container">
        <br>
        <h4 align="center" class="shadow_inner">Our Team</h4><br>
        <table class="table table-striped">
            <col width="50%">
            <col width="50%">
            <tbody>
                <tr>
                    <td>Prof. Dr. Joachim L. Schultze</td>
                    <td><a href="mailto:j.schultze@uni-bonn.de">j.schultze@uni-bonn.de</a></td>
                </tr>
                <tr>
                    <td>Dr. Thomas Ulas</td>
                    <td><a href="mailto:t.ulas@uni-bonn.de">t.ulas@uni-bonn.de</a></td>
                </tr>
                <tr>
                    <td>Peeyush Sahu (Tool and web-server related queries)</td>
                    <td><a href="mailto:peeyush.sahu@imt.uni-marburg.de">peeyush.sahu@imt.uni-marburg.de</a></td>
                </tr>
                <tr>
                    <td>Vishal Siramshetty</td>
                    <td><a href="mailto:vishal-babu.siramshetty@charite.de">vishal-babu.siramshetty@charite.de</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Institution -->
    <div class="container" align="center">
        <h4 align="center" class="shadow_inner">The Institution</h4><br>
        <div class="row">
                <h5><a href="http://www.limes-institut-bonn.de/en/research/research-departments/unit-2/schultze-lab/schultze-lab-home/" target="_blank">
                        Department of Genomics & Immunoregulation<br><br>
                        Life & Medical Sciences Institute, University of Bonn<br><br>
                        Carl-Troll-Straße 31<br><br>
                        53115 Bonn</a></h5>
        </div>
        <br><br><br><br>
    </div>
    <!-- footer -->
    <footer class="footer-intro">
        <ul>
            <li><font color=#0066cc>Last Updated: August 2016</font></li>
            <li><font color=#0066cc>|</font></li>
            <li><a href="http://www.limes-institut-bonn.de/en/research/research-departments/unit-2/schultze-lab/schultze-lab-home/" target="_blank">Genomics & Immunoregulation at LIMES</a></li>
        </ul>
    </footer>

{% endblock %}