<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h1>Gene based analysis</h1>
                <form name="GenebasedForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                        <div class="fieldWrapper post-form">
                            <label for="{{ form.gene_text_field.id_for_label }}">Paste gene symbols):</label><br>
                            {{ form.gene_text_field.errors }}
                            {{ form.gene_text_field }}<br><br>
                            <p onclick="upload_example_genebased()">
                                <a href="#">Select example gene names for analysis.</a>
                            </p>
                        </div>
                        <div class="fieldWrapper post-form-upload">
                            <label for="{{ form.file.id_for_label }}">Upload file:</label>
                            {{ form.file }}<br>
                            {{ form.file.errors }}
                        </div>
                        <div class="fieldWrapper post-form">
                            <h4>Select optional arguments</h4><br>
                            <label for="{{ form.only_key_celltypes.id_for_label }}">Analyse only key cell-types:</label>
                            {{ form.only_key_celltypes.errors }}
                            {{ form.only_key_celltypes }}<br><br>
                        </div>
                        <div class="fieldWrapper post-form">
                            <label for="{{ form.gene_cluster.id_for_label }}">Minimum no of genes per cell-type cluster:</label>
                            {{ form.gene_cluster.errors }}
                            {{ form.gene_cluster }}<small><i> default value is 20</i></small><br><br>
                        </div>
                        <div class="fieldWrapper post-form" id="synonym" onclick="ifsynonym();">
                            <label for="{{ form.synonym.id_for_label }}">Consider synonym for input genes:</label>
                            {{ form.synonym.errors }}
                            {{ form.synonym }}<br><br>
                        </div>
                        <div class="fieldWrapper post-form" id="organism" style="visibility:hidden">
                            <label for="{{ form.species.id_for_label }}">if synonym, select organism:</label>
                            {{ form.species.errors }}
                            {{ form.species }}<br><br>
                        </div>
                    <button onclick="dim();" type="submit" class="save btn btn-default">Submit</button><br><br><br>
                    <div id="dimmer">
                        <div id="loading-img"><img src="{% static 'js/Leonardo.gif' %}" alt="Loader"/>
                            <p><b>........Analysing data.......</b></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}