
header {
    height: 150px;
    padding: 50px 20PX 20PX 40PX;
    background: #b3d9ff;
}

.main {
  background: #ffffff;
  padding: 80px 20px 50px;
}

.navbar, .main {
  position: relative;
  margin: 0;
}

.navbar {
    background-color: #0080ff;
    height: 56px;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    margin-bottom: -56px;
}
.navbar-scrolled, header{
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    font-size: 14pt;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #004080;
}

header h1, header h1 a, header h1 a:visited, header h1 a:active {
    color: #0066cc;
    font-size: 36pt;
    text-decoration: none;
}

body {
  margin: 0;
  padding-top: 150px;
}

.content {
    margin-left: 40px;
}

h1 {
    font-family: 'Ubuntu';
    color: #0066cc;
    font-size: 24pt;
}

h4 {
    font-family: 'Ubuntu';
    color: #0066cc;
    font-size: 16pt;
}

.date {
    color: #828282;
}

.save {
    float: left;
}

.post-form textarea, .post-form-upload input {
    width: 60%
}

.post-form input {
    width: 20%;
}

.post-form label, li {
    display: inline;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.active {
    background-color: #004080;
}

.result h2{
    padding: 8px;
    background-color: #0080ff;
    font-family: 'Ubuntu';
    color: white;
    font-size: 16pt;
}

.result p{
    font-family: 'Ubuntu';
    color: black;
    font-size: 12pt;
}

.warnings{
    color: black;
}

#dimmer {
    background:#ffffff;
    opacity:0.75;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:200; /* may not be necessary */
}

#loading-img {
    position: absolute;
    background-position:center center;
    left: 40%;
    top: 40%;
    opacity: 1;
    width: 100%;
    z-index: 150;
}

.footer{
    padding-top: 60px;
}

.result table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

.result td {
    border: 1px black solid;
    padding: 5px;
}